<h1 class="title">Mes Achats</h1>
<div class="index-grid">
  <% @orders_paid.each do |order| %>
    <div>
      <%= render "vouchers/card_order", order: order %>
    </div>
  <% end %>
</div>

<h1 class="title">Mes ventes</h1>
<div class="index-grid">
  <% @vouchers.each do |voucher| %>
    <div>
      <%= render "vouchers/card", voucher: voucher %>
    </div>
  <% end %>
</div>
