<div class="search-bar">


  <div class="text">
  <%= form_tag vouchers_path, method: :get, class: "d-flex" do %>
    <div class="categories">
      <select name="category" class="browser-default custom-select">
        <option value="">Catégorie</option>
          <% Voucher::CATEGORIES.each do |category| %>
            <option <% if category == params[:category] %> selected <% end %>>
              <p> <%= category %> </p>
            </option>
          <% end %>
      </select>
    </div>
    <div class="fas mr-0 fa-search search-icon" style="padding-top: 18px; color: grey;">
    </div>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Trouver un bon"
    %>
  </div>
    <%submit_tag%>
  <% end %>
</div>
