<%= render 'shared/search_bar' %>

<div id="banner">
</div>

  <div class="selling-button">
    <%= link_to new_voucher_path, class: "button button-large-height" do %>
      Je vends un bon
    <% end %>
  </div>

<div class="informations">
    <%= link_to "Comment ca marche?", new_voucher_path %>
</div>

<div class="container-fluid">
  <div class="row">
    <% @vouchers.each do |voucher| %>
      <%= render 'vouchers/card', voucher: voucher %>
  </div>
    <% end %>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">


    </div>
    <div class="col-5">


    </div>
    <div class="col-1">
    </div>
  </div>
</div>

-->
