<%= render 'shared/search_bar' %>

<div id="banner">

</div>

<div class="container-textbox">
  <div class="container-textbox-icon">
    <i class="fas fa-envelope-open"></i>
  </div>
  <input class="container-textbox-text" type="text" placeholder="my text">
</div>


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">


    </div>
    <div class="col-5">


    </div>
    <div class="col-1">
    </div>
  </div>
</div>

-->
