<%= render 'shared/search_bar' %>

<div id="banner">

</div>

<%= link_to new_voucher_path(step: 1) ,class: "button button-large-height" do %>
  Je vends un bon
<% end %>


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">


    </div>
    <div class="col-5">


    </div>
    <div class="col-1">
    </div>
  </div>
</div>

-->
