.button {
  color: var(--button-colorfont);
  background-color:var(--button-backcolor);
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.button:hover {
  text-decoration: none;
  color: var(--button-colorfont);
}

.button-large-height {
  height: 70px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.button-category {
  height:          45px;
  width:           320px;
  margin:          0;
  display:         flex;
  justify-content: center;
  align-items:     center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button-navigation {
  height: 45px;
  width: 140px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


.button-margin-top {
  margin-top: 20px;
}

.btn-white {
  font-size: 30px;
  font-weight: bold;
  border-color: white;
  color: black;
  background-color: white;
  width: 300px;
  height: 68px;
  border-radius: 12px;
  padding: 10px 10px;
}

.div-fixed-bottom {
  height:          100px;
  width:           100vw;
  position:        absolute;
  display:         flex;
  justify-content: center;
  bottom:          0;
  left:            0;
}

input[type="submit" i] {
  padding: 0 !important;
}


.button i {
  margin: 0 20px;
}


.b {
  margin-top: 120px;
}

.button .button-small-height-width .position-absolute-bottom {
  margin: 0, auto;
}

.btn-retour {
  font-size: 30px;
  font-weight: bold;
  border-color: white;
  background-color: white;
  width: 280px;
  height: 45px;
  border-radius: 12px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.btn-retour a {
  height: 50px;
}

.retour-index{
  font-size: 20px;
  color: white;
  border-radius: 12px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.retour-index a {
  color: white;
}

#modif-validation{
  margin-top: 8px;
}
