.button {
  color: var(--button-colorfont);
  background-color:var(--button-backcolor);
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.button:hover {
  text-decoration: none;
  color: var(--button-colorfont);
}

.button-large-height {
  height: 70px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(45deg, #62d699, #0094da);
}

.button-category {
  height:          45px;
  width:           320px;
  margin:          0;
  display:         flex;
  justify-content: center;
  align-items:     center;
  margin-top: 15px;
  margin-bottom: 15px;
  background: linear-gradient(45deg, #62d699, #0fa9cc);
}

.button-back {
  width:           150px;
  height:          45px;
  display:         flex;
  justify-content: center;
  align-items:     center;

  color: #a09d9d;
  background-color: white;
  font-weight: lighter;
  border: 1px solid #c1c0c0;
}

.button-back:focus {
  color: #a09d9d;

}



.button-navigation {
  height: 45px;
  width: 150px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: linear-gradient(45deg, #62d699, #0fa9cc);

}


.button-margin-top {
  margin-top: 20px;
}

.btn-white {
  font-size: 30px;
  font-weight: bold;
  border-color: white;
  color: black;
  background-color: white;
  width: 300px;
  height: 68px;
  border-radius: 12px;
  padding: 10px 10px;
}

.div-fixed-bottom {
  height:          100px;
  width:           100vw;
  position:        absolute;
  display:         flex;
  justify-content: center;
  bottom:          0;
  left:            0;
}

input[type="submit" i] {
  padding: 0 !important;
}


.button i {
  margin: 0 20px;
}


.b {
  margin-top: 120px;
}

.button .button-small-height-width .position-absolute-bottom {
  margin: 0, auto;
}

.btn-retour {
  font-size: 30px;
  font-weight: bold;
  border-color: white;
  background-color: white;
  width: 280px;
  height: 45px;
  border-radius: 12px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.btn-retour a {
  height: 50px;
}

.retour-index{
  font-size: 20px;
  color: white;
  border-radius: 12px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.retour-index a {
  color: white;
}

#modif-validation{
  margin-top: 8px;
}
