.button {
    color: var(--button-colorfont);
    background-color:var(--button-backcolor);
    border: solid 2px ;
    border-color: var(--component-color);
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.button-large-height {
  height: 70px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.button-small-height {
  height: 45px;
  width: 320px;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.button-small-height-width {
  height: 45px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

input[type="submit" i] {
  padding: 0 !important;
}

.button:hover {
    text-decoration: none;
    color: var(--button-colorfont);
}

.button i {
    margin: 0 20px;
}

.button-form{
  margin-top: 20px;
}



.container-voucher .btn-white {
  font-size: 30px;
  font-weight: bold;
  border-color: white;
  color: black;
  background-color: white;
  width: 300px;
  height: 68px;
  border-radius: 5px;
  padding: 10px 10px;
}

.b {
  margin-top: 120px;
}

.position-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

