.container-voucher {
  height: 1000px;
  width: 100%;
  text-align: center;
}

.container-voucher h2{
  font-size: 48px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
}


.container-voucher h1 {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 25px;
}


.container-recap {
 padding:10px;
}

.container-form {
  height: 1000px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.retour a {
  color: white;
}

.retour a:hover {
  text-decoration: none;
}
