#logo {
}

.logo-mark {
  width : 80%;
  height: auto;
  margin: 0 auto;
}


.fa-barcode-large {
    font-size: 250px !important;
}

.fa-barcode-small {
    font-size: 32px !important;
}

.barcode  {
  margin: 0 auto;
  width: 90%;
}

.logo-marks {
  object-fit: contain;
}
