#logo {
  margin: 0 auto;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo {
  text-align: center;
  margin: 0 auto;
}


.fa-barcode {
    font-size: 250px !important;

}

.barcode  {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 75px;

}
