#logo {
}

.container-voucher .logo-mark {
  text-align: center;
  margin: 10px auto;
}


.fa-barcode {
    font-size: 250px !important;
}

.barcode  {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 75px;
}

.logo-marks {
  object-fit: contain;
}
