.navbar-smartbucks {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #65d197;
  padding: 16px;
  z-index: 3;
}

.navbar-smartbucks .navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse {
  margin-top: 10px;
}


.navbar-brand img{
  width: 80px;
}

.navbar-nav li a {
  color: grey;
}

.dropdown-item{
  padding: 4px 0px 4px 16px;
}
