.navbar-smartbucks {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #65d197;
  padding: 16px;
}

.navbar-smartbucks .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img{
  width: 80px;
}
