.container-select {
  font-size: 20px;
  width: 350px;
  height: 40px;
  border: solid 2px $component-color;
  border-radius: 8px;
  background-color: $component-backcolor;
  color: $component-color;
}

.container-select:focus {
    outline: none;
    font-size: 20px;
}
