
#bar_code {
  height:          80px;
  width:           100vw;
  justify-content: center;
  bottom:          0;
  left:            0;
  padding-bottom: 20px;
  padding-top: 60px;
}

.flex-direct-column {
  padding-bottom: 50px;
}



#bar_code .retour a{
  padding-top: 00px;
  padding-bottom: 00px;
}

.button-pay{
  height:          190px;
  width:           100vw;
  position:        absolute;
  justify-content: center;
  bottom:          0;
  left:            0;
}

.bar_code_show {

}

.mt-3 {
  padding-top: 20px;
}
