.title {
  color: var(--component-color);
  margin-top: 20px;
  text-align: center;
  font-weight:bold;
  margin-bottom: 50px;
}

.title-label{
  color: var(--component-color);
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight:bold;
  margin-bottom: 50px;
}

.text-recap {
  color: #A4A4A4;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 80px;
}

