.title {
  color: var(--component-color);
  margin-top: 20px;
  text-align: center;
  font-weight:bold;
  margin-bottom: 50px;
}


.title-label{
  color: var(--component-color);
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight:bold;
  margin-bottom: 50px;
}

.title-label-edit{
  color: var(--component-color);
  margin-top: 0px;
  text-align: center;
  font-size: 25px;
  font-weight:bold;
  margin-bottom: 10px;
}

.text-url-center {
  color: var(--component-color);
  font-weight: bold;
}

input {
  padding: 0px;
}

.text-recap {
  color: #A4A4A4;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.text-ico {
    color: var(--component-color);
      font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;

}

