.container-textbox {
    display: flex;
    width: 350px;
    height: 40px;
    border: solid 2px $component-color;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: $component-backcolor;
}

.container-textbox-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $component-color;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 50px;
    // height: 100%;
}
