<div class="card-voucher">

  <div class="brand">
    <div class="logo">

    </div>
  </div>

  <div class="category">
  </div>

  <div class="numbers">
    <div class="value">

    </div>

    <div class="price">

    </div>
  </div>

  <div class="date">
  </div>

</div>
