<%= render 'shared/search_bar' %>

<div id="carouselBestOffer" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @vouchers.each_slice(mobile_device? ? 2 : 4).to_a.each_with_index do |vouchers, index| %>
      <div class="carousel-item <%= "active" if index == 0 %>">
        <div class="d-flex justify-content-around mx-4">
          <a class="carousel-control-prev" href="#carouselBestOffer" role="button" data-slide="prev">
            P
          </a>
          <% vouchers.each do |voucher| %>
              <%= render 'vouchers/card', voucher: voucher %>
          <% end %>
          <a class="carousel-control-next" href="#carouselBestOffer" role="button" data-slide="next">
            N
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
