<%= render 'shared/search_bar' %>

</div>

    <div class="row">
      <% @vouchers.each do |voucher| %>
        <%= render "vouchers/card", voucher: voucher %>
    </div>
      <% end %>
    </div>

    <!-- <div class="container-fluid">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-5">


    </div>
    <div class="col-5">


    </div>
    <div class="col-1">
    </div>
  </div>
</div>

 -->
